@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }
}




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #4E2794;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 10px;
}

h1 span {
    color: #EBB975;
}

.frase {
    font-size: 20px;
    color: #EBB975;
    margin-bottom: 50px;
}

main {
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


.money {
    animation: float 4s ease-in-out infinite;
}



.conteiner {
    width: 327px;
    height: 643px;
    background: #F2EFFA;
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(53, 40, 112, 0.8);
    border-radius: 20px;
}

label {
    margin: 10px auto;
    color: #363055;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-align: center;
}

select {
    width: 224px;
    height: 60px;
    margin: 5px auto 0;
    padding: 5px;
    border: 3px solid #D5CCE3;
    border-radius: 10px;
}

input {
    width: 224px;
    height: 60px;
    margin: 10px auto 0;
    padding: 5px;
    border: 3px solid #D5CCE3;
    border-radius: 10px;
}

button {
    width: 224px;
    height: 60px;
    margin: 5px auto 0;
    background: #542AB1;
    border-radius: 10px;
    color: #F2EFFA;
    font-size: 18px;
    font-weight: 500;
}

button:hover{
    opacity: 0.3;
}

button:active{
    opacity: 0.7;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.value-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section img {
    width: 46px;
    height: 46px;
}

@media (max-width: 760px){
    h1{
        font-size: 35px;
    }

    .frase{
        margin-bottom: 20px;
        font-size: 13px;
    }

    main{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .money{
        width: 367px;
        margin-top: 0;
    }
}